<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>untitled</title>
    <wo:ERXJavaScript scriptFilename="sha2.js" />
  </head>
  <body>
    <wo:if condition="$haveExistingUsers">
      <div id="login_form">
        <wo:form>
          <label>Username:</label>
          <wo:textfield value="$username" name="username" id="username" />
          <br />
          <label>Password:</label>
          <wo:passwordField value="$password" name="passwd" id="passwd" />
          <br />
          <wo:submit action="$login" onClick="Sha256.hash(value)" />
        </wo:form>
      </div>
    </wo:if>
    <wo:else>
      <wo:CreateFirstAccount />
    </wo:else>
  </body>
</html>