{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar100; }, 
        {columnName = shortName; name = shortName; prototypeName = varchar16; }
    ); 
    attributesUsedForLocking = (id); 
    className = "er.blog.eof.Category"; 
    classProperties = (name, posts, shortName); 
    externalName = Category; 
    fetchSpecificationDictionary = {}; 
    name = Category; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = PostCategory; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = categoryId; sourceAttribute = id; }); 
            name = postCategories; 
            propagatesPrimaryKey = Y; 
        }, 
        {definition = "postCategories.post"; name = posts; }
    ); 
}
