{
    attributes = (
        {columnName = content; name = content; prototypeName = longText; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = lastModifiedDate; 
            name = lastModifiedDate; 
            prototypeName = dateTime; 
        }, 
        {columnName = publishedDate; name = publishedDate; prototypeName = dateTime; }, 
        {columnName = title; name = title; prototypeName = varchar255; }, 
        {allowsNull = N; columnName = userID; name = userID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id, title, userID); 
    className = "er.blog.eof.Post"; 
    classProperties = (author, categories, content, lastModifiedDate, publishedDate, title); 
    externalName = Post; 
    fetchSpecificationDictionary = {}; 
    name = Post; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = User; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = author; 
        }, 
        {definition = "postCategories.category"; name = categories; }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = PostCategory; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = postId; sourceAttribute = id; }); 
            name = postCategories; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
