    <p>No user was found, so I guess this is a brand-new installation! Please create a new user that will become an administrator.</p>
    <div id="create_user_form">
      <wo:form> 
      <label>Username:</label> <wo:textfield value="$username" /><br />
      <label>Password:</label> <wo:passwordField value = "$password" /><br />
      <label>First name:</label> <wo:textfield value="$firstName" /><br />
      <label>Last name:</label> <wo:textfield value="$lastName" /><br />
      <wo:submit action="$createUser" />
      </wo:form>
    </div>