<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>untitled</title>
  </head>
  <body>
    <p>No user was found, so I guess this is a brand-new installation! Please create a new user that will become an administrator.</p>
    <div id="create_user_form">
      <wo:form> 
      <label>Username:</label> <wo:textfield value="$username" /><br />
      <label>Password:</label> <wo:passwordField value = "$password" /><br />
      <label>First name:</label> <wo:textfield value="$firstName" /><br />
      <label>Last name:</label> <wo:textfield value="$lastName" /><br />
      <wo:submit action="$createUser" />
      </wo:form>
    </div>
  </body>
</html>